{%load comments%}
{%load static%}
{% if user.is_authenticated %}
    {% get_comment_form for parik as form %}
    <form id="comment-form" action="{% comment_form_target %}" method="POST">
    {% csrf_token %}
    {{ form.honeypot }}
    {{ form.content_type }}
    {{ form.object_pk }}
    {{ form.timestamp }}
    {{ form.security_hash }}
   <div class="add-comment">
			<img src="{%static "images/Jack.png"%}">
                        <input id="id_comment" type="text" name="comment" placeholder="Write comment...">
                    </div>
			<button type="submit" class="create-button">Post</button>


    </form>
{% else %}
    <p>Please <a href="{% url 'auth_login' %}">log in</a> to leave a comment.</p>
{% endif %}




