{%extends 'base.html'%}
{%load static%}
{% load post_read_stat %}

{%block css%}
<style>
.form {
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

.form input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 6px;
  color: #FFF;

  background-color: #012f61;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  border: 1px solid #012f60;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-top: 20px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}
#id_tags{
width:20%;
height:44px;
}
</style>
{%endblock%}


{%block content%}        
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="row">
            <div class="flex-div" style="margin:0 auto;">

	<div class="endless_container">
		<h2><i class="iconoir-globe"></i> Explore Channels </h2>
			<hr>
			<br>
		    {%for channel in channels%}
	     	    <div class="side-video-list">
			    <a href="" class="small-thumbnail"><img src="{{channel.thumbnail.url}}"></a>
                    <div class="vid-info">
			    <a href="">{{channel.channel_name}}</a>
			    <p>{{channel.about}}</p>
			    <p> {{channel.subscribers}}  Subscribers</p>
{%if user.is_authenticated%}  <button type="button" {%if channel|is_subscribed:user%} class="btn-disabled subscribe-channel" data-url="{%url 'subscribe_channel' channel.id%}"  {%else%} class="subscribe-channel" data-url="{%url 'subscribe_channel' channel.id%}" {%endif%}>{%if channel|is_subscribed:user%} Subscribed {%else%} Subscribe {%endif%} </button>
		    {%endif%} 
                    </div>
                </div>
		{%endfor%}
    

	    </div>




        </div>
    </div>

{%endblock%}
