{% load el_pagination_tags %}

{% load hitcount_tags %}
{%for parik in pariks%}
		<div class="vid-list">
                 <div class="flex-div">
			 <img src="{{parik.user.channel.thumbnail.url}}">
                    <div class="vid-info">
			    <a href="{%url 'single_video' parik.id %}">{{parik.title}}</a>
			    <p><b>By:</b>{{parik.user.username|title}}</p>
			    <p> {% get_hit_count for parik %} Views &bull; {{parik.created_on|timesince}} ago</p>
                    </div>
                 </div>
             </div >
	     {%endfor%}


