{%extends 'base.html'%}
{%load static%}
{%load content_type%}
{% load hitcount_tags %}
{% load el_pagination_tags %}
{% load post_read_stat %}
{%block content%}
<div class="flex-div search-container">
			   {%include 'search_box.html'%}
		<br>
		<hr class="border">
		<br>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
</div>
        <div class="worko-tabs">
  
    <input class="state" type="radio" title="tab-one" name="tabs-state" id="tab-one" checked />
    <input class="state" type="radio" title="tab-two" name="tabs-state" id="tab-two" />
    <input class="state" type="radio" title="tab-three" name="tabs-state" id="tab-three" />

    <div class="tabs flex-tabs">
	    <label for="tab-one" id="tab-one-label" class="tab"><i class="iconoir-stat-up"></i>&nbsp;Trending Today</label>
	    <label for="tab-two" id="tab-two-label" class="tab"><i class="iconoir-globe"></i>&nbsp;Popular Posts</label>
	    <label for="tab-three" id="tab-three-label" class="tab"><i class="iconoir-home-user"></i>&nbsp;Your stuff</label>


      <div id="tab-one-panel" class="panel active">
      <div class="list-container endless_container ">
		{%for parik in pariks%}
		<div class="vid-list">
                 <div class="flex-div vid-content">
			 <img src="{{parik.user.channel.thumbnail.url}}">
                    <div class="vid-info">
			    <a href="{%url 'single_video' parik.id %}">{{parik.title}}</a>
			    <p class="status"> <i class="iconoir-page-edit"></i> Read: {{parik|get_progress:request.user|floatformat:1}} %</p>

			    {%if parik.description%} <p> {{parik.description}}</p> {%endif%}
			    <p><b>By:</b> {{parik.user.username|title}}</p>
			    <p> {% get_hit_count for parik %} Views &bull; {{parik.created_on|timesince}} ago</p>
                    </div>
                 </div>
             </div >
	     {%endfor%}

        </div>


	     <div class="pagination">
    <span class="step-links">
        {% if pariks.has_previous %}
            <a href="?page=1&tab=trending">&laquo; first</a>
            <a href="?page={{ pariks.previous_page_number }}&tab=trending">previous</a>
        {% endif %}

        <span class="current">
            Page {{ pariks.number }} of {{ pariks.paginator.num_pages }}.
        </span>

        {% if pariks.has_next %}
            <a href="?page={{ pariks.next_page_number }}&tab=trending">next</a>
            <a href="?page={{ pariks.paginator.num_pages }}&tab=trending">last &raquo;</a>
        {% endif %}
    </span>
</div>

	</div>
        <div id="tab-two-panel" class="panel">
      <div class="list-container endless_container ">
		
	
		{%for parik in popular_pariks%}
		<div class="vid-list">
                 <div class="flex-div vid-content">
			 <img src="{{parik.user.channel.thumbnail.url}}">
                    <div class="vid-info">
			    <a href="{%url 'single_video' parik.id %}">{{parik.title}}</a>
			    <p class="status"> <i class="iconoir-page-edit"></i> Read: {{parik|get_progress:request.user|floatformat:1}} %</p>

			    {%if parik.description%} <p> {{parik.description}}</p> {%endif%}
			    <p><b>By:</b> {{parik.user.username|title}}</p>
			    <p> {% get_hit_count for parik %} Views &bull; {{parik.created_on|timesince}} ago</p>
                    </div>
                 </div>
             </div >
	     {%endfor%}
      </div>
	     <div class="pagination">
    <span class="step-links">
        {% if popular_pariks.has_previous %}
            <a href="?popular=1&tab=popular">&laquo; first</a>
            <a href="?popular={{ popular_pariks.previous_page_number }}&tab=popular">previous</a>
        {% endif %}

        <span class="current">
            Page {{ popular_pariks.number }} of {{ popular_pariks.paginator.num_pages }}.
        </span>

        {% if popular_pariks.has_next %}
            <a href="?popular={{ popular_pariks.next_page_number }}&tab=popular">next</a>
            <a href="?popular={{ popular_pariks.paginator.num_pages }}&tab=popular">last &raquo;</a>
        {% endif %}
    </span>
</div>


	</div>
        <div id="tab-three-panel" class="panel">

	<div class="">
	<a href="#" class="link">Saved</a> | 
	<a href="#" class="link">History</a> | 
	<a href=#" class="link">Imported</a>
	</div>
<div class="section1">
<div class="list-container endless_container ">
		{%for parik in your_pariks%}
		<div class="vid-list">
                 <div class="flex-div vid-content">
			 <img src="{{parik.user.channel.thumbnail.url}}">
                    <div class="vid-info">
			    {% with parik|content_type as ctype %}
			    <a href="{%url 'single_video' parik.id %}?type={{ctype}}">{{parik.title}}</a> 
			    <p class="status"> <i class="iconoir-page-edit"></i> Read: {{parik|get_progress:request.user|floatformat:1}} %</p>
			    {%endwith%}
			    {%if parik.description%} <p> {{parik.description}}</p> {%endif%}
			    <p><b>By:</b> {{parik.user.username|title}}</p>
			    <p> {% get_hit_count for parik %} Views &bull; {{parik.created_on|timesince}} ago</p>
                    </div>
                 </div>
             </div >
	     {%endfor%}

             </div >
       
	     <div class="pagination">
    <span class="step-links">
        {% if your_pariks.has_previous %}
            <a href="?your=1&tab=your">&laquo; first</a>
            <a href="?your={{ your_pariks.previous_page_number }}&tab=your">previous</a>
        {% endif %}

        <span class="current">
            Page {{ your_pariks.number }} of {{ your_pariks.paginator.num_pages }}.
        </span>

        {% if your_pariks.has_next %}
            <a href="?your={{ your_pariks.next_page_number }}&tab=your">next</a>
            <a href="?your={{ your_pariks.paginator.num_pages }}&tab=your">last &raquo;</a>
        {% endif %}
    </span>

	     </div>
</div>



	</div>
    </div>

</div>

</div>



	{%endblock%}


	{%block js%}



    <script src="{%static "el-pagination/js/el-pagination.js"%}"></script>
    <script>$.endlessPaginate();</script>

{%endblock%}


