{%load static%}
{% load comments %}
{%load voting_tags%}
{% load hitcount_tags %}
{% load el_pagination_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{parik.title}} - Parikar</title>
  
    {%include 'includes.html'%}
    <script src="{%static "NoSleep.min.js"%}" type="text/javascript"></script>
    <script src="{%static "parikar.js"%}" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/sharer.js@latest/sharer.min.js"></script>
<style>
#id_honeypot{
display:none;
}
</style>
</head>
<body>

	{%include 'header.html'%}    

	<!-- end nav -->
    <div class="container play-container">
	    {%block content%}
	<div class="row">

 <div class="play-video">

	 <div class="video" style="background:{{parik.background}}">
			    {%for line in lines%}
			    <div class="line">
				    <span id="{{line.line_id}}" style="font-family:{{line.font}}; font-size:{{parik.font_size}}em; color:{{line.color}}; font-weight:{{parik.font_weight}}" > {{line.line}}</span>
					    <br> <a href="#" data-line="{{line.line_id}}"  class="line-comment" id="{{line.line_id}}"><i class="iconoir-chat-bubble"></i> comments</a>

</div>
{%endfor%}


                </div>
		<div class="video-controls-box">
		<ul class="video-control-list">
			<li class="video-control-item" style="display:inline"><i class='iconoir-pause play-pause-icon'></i><a href="#" id="play-pause-button" class="video-control-pause" data-state="play"> Pause</a></li>
		
			<li style="display:inline;" class="video-control-item"><span class="time-elapsed">00:00</span> / <span class="total-time">00:00</span></li>	
			<li class="video-control-item speed-item"><a href="#" class="speed-button" id="speed-fast" data-state="fast"> <i class='iconoir-skateboarding'></i>  <span class="hide-mobile">Fast</span></a></li>
			<li class="video-control-item speed-item active-speed"><a href="#" class="speed-button" id="speed-normal" data-state="normal"> <i class='iconoir-stretching'></i>  <span class="hide-mobile">Normal</span></a></li>
			<li class="video-control-item speed-item"><a href="#" class="speed-button" id="speed-slow" data-state="slow">  <i class='iconoir-trekking'></i> <span class="hide-mobile">Slow</span></a></li>
			<li class="video-control-item speed-item"><a href="#" class="speed-button" id="speed-slower" data-state="slower"> <i class='iconoir-yoga'></i>  <span class="hide-mobile">Slower</span></a></li>

		</ul>
		<div id="ctrl_slider"></div>
		<div id="slider_milestones">
		</div>

		</div>
		<br>
                <div class="tags">
			{%for tag in tags%}	
			<a href="/search/?query={{tag}}">{{tag}}</a> 
			{%endfor%} 
			{%if not instant%}
			<center>{%if  not summarize %} <a class="link-btn" href="{%url 'single_video' parik.id %}?summarize=true">Summarize with AI</a> {%else%} <a class="link-btn" href="{%url 'single_video' parik.id %}">Show Original</a>{%endif%}	
			</center>
			{%else%}
			<center> <span style="">Save Post To Summarize with AI </span> </center>{%endif%}
                </div>
		<br>
		<h3 class="inline">{{parik.title}} </h3>{%if user == parik.user%} {%if not instant%} <a href="{%url 'edit_post'  parik.id %}">Edit </a> {%endif%} {%endif%}

		<button  style="margin-left:10px;" class="button inline float-right" data-sharer="twitter" data-title="{{parik.title}} - Reading on Parikar"  data-url="https://parikar.org{{parik.get_absolute_url}}"><i class="iconoir-twitter"></i> Share on X</button>&nbsp;&nbsp;
		<button  class="button inline float-right" data-sharer="facebook" data-title="{{parik.title}} - Reading on Parikar"  data-url="https://parikar.org{{parik.get_absolute_url}}"><i class="iconoir-facebook"></i>Share on FB</button>

		<br>
			{%if user.is_authenticated%}{%if instant%} {%if user == parik.user%} <br> <a href="{%url 'save_instant' parik.instant.id %}" class="button save-instant"> Save as Post </a> {%endif%}<br>{%endif%}{%endif%} 
		{%if parik.description%} <br> <p>{{parik.description|urlize}}</p>	{%endif%}
                <div class="play-video-info">
			<p> {%if not instant %} {% get_hit_count for parik %} Views &bull;{%endif%} {{parik.created_on|timesince}} ago</p>
                    <div> 
			    <a href=""><img src="/static/images/like.png">0</a>
			    <a href=""><img src="/static/images/dislike.png">0</a>
			    <a href=""><img src="/static/images/save.png">Save</a>
                    </div>
                </div>
                <hr>
                <div class="publisher">
			 <img src="{{parik.user.channel.small_thumbnail.url}}">
                    <div>
			    {%if not instant %}   <p><a href="{%url 'channel' parik.user.channel.id %}">{{parik.user.channel.channel_name|title}}</a></p>
			    <span>{{parik.user.channel.subscribers}} Subscribers</span>
			    {%else%}
			   <p>Instant Viewer </p>
			    {%endif%}
                    </div>
		    
		    {%if user.is_authenticated%}  <button type="button" {%if is_subscribed%} class="btn-disabled subscribe-channel" data-url="{%url 'subscribe_channel' parik.user.channel.id%}"  {%else%} class="subscribe-channel" data-url="{%url 'subscribe_channel' parik.user.channel.id%}" {%endif%}>{%if is_subscribed%} Subscribed {%else%} Subscribe {%endif%} </button>
		    {%endif%} </div>
                <div class="vid-description">
                    <hr>
		    {%if not instant%}
{% get_comment_count for parik as comment_count %}.
<h4>{{comment_count}} Comments </h4>
                 


    
{% render_comment_form for parik %}


{% render_comment_list for parik %}
{%endif%}
           </div>
           </div>

		   <div class="right-sidebar">
			   <hr class="border">
			   <br>
			   {%include 'search_box.html'%}
			   <br>
			   <hr class="border">
			   <br>
			   <div class="endless_container">
			<h2> Suggested Posts </h2>
			<br>
		    {% lazy_paginate 5 pariks %}
		    {%for parik in pariks%}
	     	    <div class="side-video-list">
			    {%if parik.small_thumbnail%}
			    <a href="{%url 'single_video' parik.id%}" class="small-thumbnail"><img src="{{parik.small_thumbnail.url}}"></a>
			    {%else%}
			    <a href="{%url 'single_video' parik.id%}" class="small-thumbnail"><img src="https://source.unsplash.com/random?{{parik.title}}"></a>
			    {%endif%}
                    <div class="vid-info">
			    <a href="{%url 'single_video' parik.id %}">{{parik.title}}</a>
			    <p>{{parik.user.username}}</p>
                        <p> {% get_hit_count for parik %} Views</p>
                    </div>
                </div>
		{%endfor%}
    
{% show_more "Load More" %}

	    </div>


        </div>
	{%endblock%}


    </div>

    <section class="popup">
  <div class="popup__content">
    <div class="close">
      <span></span>
      <span></span>
    </div>
    <div class="popup-data">hello my name is popup</div>
  </div>
</section>


    <script src="{%static "script.js"%}"></script>
    <script>
       $(function(){
			   animation("{{parik.animation.name}}","{{record_view_url}}","{{view_progress}}");
	 $('#comment-form').ajaxForm(function() { 
		$("#id_comment").notify("Comment posted!","success");
	  }); 
	});


	
    </script>

    <script src="{%static "el-pagination/js/el-pagination.js"%}"></script>
    <script>$.endlessPaginate();</script>
</body>
</html>
