
{%extends 'base_bare.html'%}
{%load static%}
{%block css %}

<link rel="stylesheet" href="{%static "form.css"%}">
{%endblock%}
{%block content%}
<div class="row">
	<center>
		<h3>SIGN UP NOW  </h3>
		<br>
	</center>
</div>
<div class="row">
	<div class="large-logo"> 
		    <img class="" src="{%static "images/parikar-removebg.png"%}">
	</div>



	<div class="form">

		{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="alert alert--info">
	<i class="fa fa-info-circle fa-2xl icon"></i> 
	<div class="content">
		<div class="title">Sign Up for a 30-days free trial!</div>
		<div class="body">If you like,Subscribe for - $19/year afterwards </div>
	</div>
</div>


<form style="" action="" method="POST">{%csrf_token%}
		    {{form.as_div}}
		    <button type="submit">Login</button>
		    </form>
		    </div>
	    </div>

    </div>

 {%endblock%}
